/* Aqui tendremos las variables :root y las importaciones de los diferentes ficheros .css */
@import url(fonts.css);

/* Variable CSS con los colores de nuestra paleta:https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
:root {
    --mainColor: #0D1B2A;
    --secondaryColor: #1B263B;
    --tertiaryColor: #415A77;
    --ligherTertiaryColor: #778DA9;
    --grey: #E0E1DD;
    --white: #ffffff;
}


/* Estilo para el video de fondo con posición fija */
#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    filter: blur(1.5px);
}

#mainForm {    
    max-width: 45vw;    
    width: 100vw;
    height: 35vh;
    margin: auto auto;
    margin-top: 25vh;    
    border-radius: 2em;
    padding: 5%;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    
    align-content: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(13, 27, 42, 0.86);
}

#mainForm > input {
    width: 80%;
    padding: 4%;
    border-radius: 5px;
    outline: none;
    border: 0.25px solid var(--grey);
    margin: 2%;
    background-color: transparent;
}

#mainForm > input::placeholder {
    font-size: 1.4rem;
}

#mainForm > #signIn {
    background-color: var(--secondaryColor);
    padding: 10px;
    color: var(--grey);
    border-radius: 34px;
    max-width: 10vw;
    width: 100vw;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}
