/* Aqui tendremos las variables :root y las importaciones de los diferentes ficheros .css */
@import url(fonts.css);

/* Variable CSS con los colores de nuestra paleta:https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd */
:root {
    --mainColor: #0D1B2A;
    --secondaryColor: #1B263B;
    --tertiaryColor: #415A77;
    --ligherTertiaryColor: #778DA9;
    --grey: #E0E1DD;
    --white: #ffffff;
}


/* Style the video: 100% width and height to cover the entire window */
#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    filter: blur(1.5px);
}
